body {
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  background-image: url("https://img.freepik.com/photos-premium/paysage-camerounais-riviere-collines-au-coucher-du-soleil-generative-ai-art-belle-vue_163597-715.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.weather-App {
  background-color: white;
  max-width: 700px;
  margin: 30px auto;
  box-shadow: rgba(163, 194, 230, 0.4) 5px 5px, rgba(35, 69, 119, 0.3) 10px 10px,
    rgba(40, 63, 126, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  border-radius: 16px;
  padding: 30px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: rgb(186, 215, 241);
  border: none;
  font-size: 16px;
  width: 80%;
  padding: 15px 20px;
}
.search-button {
  background-color: blueviolet;
  border: none;
  border-radius: 8%;
  color: beige;
  padding: 18px 30px;
}
.weatherAppData {
  display: flex;
  justify-content: space-between;
}
.weaterAppCity {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weatherAppDetails {
  font-size: 16px;
  line-height: 20px;
}
.weatherAppDetails strong {
  color: red;
}

main {
  padding: 30px 0;
}
.weatherAppTemp {
  display: flex;
}
.weatherAppValue {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}
.weatherAppIcon {
  width: 102px;
  height: 102px;
}
.weatherAppUnit {
  margin-top: 14px;
  font-size: 24px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: grey;
}
.weather_forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  

.weather_forecast_date {
  text-align: center;
  color: rgba(21, 21, 22, 0.4);
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 8px;
  opacity: 0.7;
}

.weather_forecast_icon {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.weather_forecast_temperature {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather_forecast_temperature_max {
  padding: 0 8px;
  opacity: 0.6;
}
.weather_forecast_temperature_min {
  padding: 0 8px;
  opacity: 0.4;
}
